In [25]:
import sqlite3
import pandas as pd

csvfile = "resources/phase3/simfin/income.csv"

df = pd.read_csv(csvfile, sep=';')
df.columns = df.columns.str.replace(' ', '')

import os
os.chdir('/home/ec2-user/SageMaker/')

db_file = "simfim.sqlite"
conn = sqlite3.connect(db_file)
table_name = "tblSimFin" 

df.to_sql(table_name, conn, if_exists='replace', index=False)

In [26]:
querySimFinCount = """
select count(*) from tblSimFin
"""

dfSimFinCount = pd.read_sql_query(querySimFinCount, conn)

print(dfSimFinCount)

   count(*)
0     45312

In [27]:
index = df.index
number_of_rows = len(index)
print(number_of_rows)

45312

In [34]:
queryData = """
select * from tblSimFin
"""

dftblSimFin = pd.read_sql_query(queryData, conn)
dftblSimFin.head(100)

,Ticker,SimFinId,Currency,FiscalYear,FiscalPeriod,ReportDate,PublishDate,Shares(Basic),Shares(Diluted),Revenue,...,Non-OperatingIncome(Loss),"InterestExpense,Net","PretaxIncome(Loss),Adj.",AbnormalGains(Losses),PretaxIncome(Loss),"IncomeTax(Expense)Benefit,Net",Income(Loss)fromContinuingOperations,NetExtraordinaryGains(Losses),NetIncome,NetIncome(Common)
0,A,45846,USD,2011,Q2,2011-04-30,2011-06-07,346250000.0,354500000.0,6.156000e+09,...,1000000.0,-73000000.0,796000000,NaN,928000000,-3.800000e+07,890000000,NaN,890000000,890000000
1,A,45846,USD,2011,Q3,2011-07-31,2011-09-07,346500000.0,355750000.0,6.463000e+09,...,16000000.0,-69000000.0,977000000,NaN,982000000,3.300000e+07,1015000000,NaN,1015000000,1015000000
2,A,45846,USD,2011,Q4,2011-10-31,2011-12-16,347000000.0,355000000.0,6.615000e+09,...,-39000000.0,-72000000.0,1032000000,NaN,1032000000,-2.000000e+07,1012000000,NaN,1012000000,1012000000
3,A,45846,USD,2012,Q1,2012-01-31,2012-03-05,347250000.0,354250000.0,6.731000e+09,...,-41000000.0,-76000000.0,1090000000,NaN,1090000000,-4.100000e+07,1049000000,NaN,1049000000,1049000000
4,A,45846,USD,2012,Q2,2012-04-30,2012-06-04,347500000.0,354000000.0,6.787000e+09,...,-42000000.0,-82000000.0,1123000000,NaN,1123000000,-1.900000e+07,1104000000,NaN,1104000000,1104000000
5,A,45846,USD,2012,Q3,2012-07-31,2012-09-05,347500000.0,353000000.0,6.819000e+09,...,-74000000.0,-87000000.0,1080000000,NaN,1080000000,-6.300000e+07,1017000000,NaN,1017000000,1017000000
6,A,45846,USD,2012,Q4,2012-10-31,2012-12-20,348000000.0,353000000.0,6.858000e+09,...,-76000000.0,-92000000.0,1043000000,NaN,1043000000,1.100000e+08,1153000000,NaN,1153000000,1153000000
7,A,45846,USD,2013,Q1,2013-01-31,2013-03-06,347750000.0,353000000.0,6.903000e+09,...,-83000000.0,-92000000.0,982000000,NaN,982000000,1.200000e+08,1102000000,NaN,1102000000,1102000000
8,A,45846,USD,2013,Q2,2013-04-30,2013-06-03,347000000.0,351750000.0,6.902000e+09,...,-91000000.0,-93000000.0,887000000,NaN,887000000,1.260000e+08,1013000000,NaN,1013000000,1013000000
9,A,45846,USD,2013,Q3,2013-07-31,2013-09-06,344750000.0,349250000.0,6.831000e+09,...,-83000000.0,-96000000.0,861000000,NaN,861000000,7.700000e+07,938000000,NaN,938000000,938000000
10,A,45846,USD,2013,Q4,2013-10-31,2013-12-19,341000000.0,345000000.0,3.894000e+09,...,-93000000.0,-100000000.0,293000000,NaN,293000000,-6.800000e+07,225000000,NaN,734000000,734000000
11,A,45846,USD,2014,Q1,2014-01-31,2014-03-05,337500000.0,341500000.0,3.222000e+09,...,-98000000.0,-104000000.0,195000000,NaN,195000000,-2.800000e+07,167000000,NaN,750000000,750000000
12,A,45846,USD,2014,Q2,2014-04-30,2014-06-04,334500000.0,338500000.0,2.478000e+09,...,-108000000.0,-108000000.0,66000000,NaN,66000000,-2.500000e+07,41000000,NaN,723000000,723000000
13,A,45846,USD,2014,Q3,2014-07-31,2014-09-02,333250000.0,337250000.0,1.835000e+09,...,-130000000.0,-108000000.0,-61000000,NaN,-61000000,-3.000000e+06,-64000000,NaN,702000000,702000000
14,A,45846,USD,2014,Q4,2014-10-31,2014-12-22,333000000.0,338000000.0,4.048000e+09,...,-190000000.0,-101000000.0,229000000,NaN,229000000,3.000000e+06,232000000,317000000.0,549000000,549000000
15,A,45846,USD,2015,Q1,2015-01-31,2015-03-10,333750000.0,338000000.0,4.066000e+09,...,-165000000.0,-88000000.0,245000000,NaN,245000000,-4.100000e+07,204000000,213000000.0,417000000,417000000
16,A,45846,USD,2015,Q2,2015-04-30,2015-06-05,334000000.0,338000000.0,4.041000e+09,...,-151000000.0,-75000000.0,272000000,NaN,272000000,-1.600000e+07,256000000,109000000.0,365000000,365000000
17,A,45846,USD,2015,Q3,2015-07-31,2015-09-02,333500000.0,337000000.0,4.046000e+09,...,-121000000.0,-65000000.0,315000000,NaN,315000000,-9.000000e+06,306000000,23000000.0,329000000,329000000
18,A,45846,USD,2015,Q4,2015-10-31,2015-12-21,333000000.0,335000000.0,4.038000e+09,...,-42000000.0,-59000000.0,480000000,NaN,480000000,-4.200000e+07,438000000,-37000000.0,401000000,401000000
19,A,45846,USD,2016,Q1,2016-01-31,2016-03-08,331250000.0,333500000.0,4.040000e+09,...,-53000000.0,-61000000.0,509000000,NaN,509000000,-4.300000e+07,466000000,NaN,459000000,459000000
20,A,45846,USD,2016,Q2,2016-04-30,2016-06-07,329250000.0,331250000.0,4.096000e+09,...,-56000000.0,-61000000.0,530000000,NaN,530000000,-6.500000e+07,465000000,NaN,463000000,463000000
21,A,45846,USD,2016,Q3,2016-07-31,2016-09-07,327500000.0,329750000.0,4.126000e+09,...,-52000000.0,-60000000.0,536000000,NaN,536000000,-6.000000e+07,476000000,NaN,476000000,476000000
22,A,45846,USD,2016,Q4,2016-10-31,2016-12-20,326000000.0,329000000.0,4.202000e+09,...,-71000000.0,-61000000.0,544000000,NaN,544000000,-8.200000e+07,462000000,NaN,462000000,462000000
23,A,45846,USD,2017,Q1,2017-01-31,2017-03-08,324250000.0,327500000.0,4.241000e+09,...,-71000000.0,-61000000.0,595000000,NaN,595000000,-8.600000e+07,509000000,NaN,509000000,509000000
24,A,45846,USD,2017,Q2,2017-04-30,2017-06-06,323000000.0,326750000.0,4.324000e+09,...,-67000000.0,-61000000.0,669000000,NaN,669000000,-8.700000e+07,582000000,NaN,582000000,582000000
25,A,45846,USD,2017,Q3,2017-07-31,2017-09-06,322000000.0,326250000.0,4.394000e+09,...,-63000000.0,-60000000.0,728000000,NaN,728000000,-9.500000e+07,633000000,NaN,633000000,633000000
26,A,45846,USD,2017,Q4,2017-10-31,2017-12-21,322000000.0,326000000.0,4.472000e+09,...,-38000000.0,-57000000.0,803000000,NaN,803000000,-1.190000e+08,684000000,NaN,684000000,684000000
27,A,45846,USD,2018,Q1,2018-01-31,2018-03-06,322250000.0,325250000.0,4.616000e+09,...,-31000000.0,-52000000.0,843000000,NaN,843000000,-6.470000e+08,196000000,NaN,196000000,196000000
28,A,45846,USD,2018,Q2,2018-04-30,2018-05-31,322500000.0,325500000.0,4.720000e+09,...,-9000000.0,-46000000.0,879000000,NaN,879000000,-6.420000e+08,237000000,NaN,237000000,237000000
29,A,45846,USD,2018,Q3,2018-07-31,2018-08-30,322250000.0,325000000.0,4.809000e+09,...,16000000.0,-42000000.0,928000000,NaN,928000000,-6.300000e+08,298000000,NaN,298000000,298000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,AAL,68568,USD,2018,Q1,2018-03-31,2018-04-26,481262750.0,483392250.0,4.298400e+10,...,-896000000.0,-963000000.0,2992000000,NaN,2992000000,-1.121000e+09,1871000000,NaN,1871000000,1871000000
71,AAL,68568,USD,2018,Q2,2018-06-30,2018-07-26,474441500.0,476305500.0,4.352200e+10,...,-911000000.0,-960000000.0,2470000000,NaN,2470000000,-8.360000e+08,1634000000,NaN,1634000000,1634000000
72,AAL,68568,USD,2018,Q3,2018-09-30,2018-10-25,468380000.0,470026000.0,4.420300e+10,...,-876000000.0,-955000000.0,1922000000,NaN,1922000000,-5.710000e+08,1351000000,NaN,1351000000,1351000000
73,AAL,68568,USD,2018,Q4,2018-12-31,2019-02-25,464236000.0,465660000.0,4.454100e+10,...,-772000000.0,-938000000.0,1884000000,NaN,1884000000,-4.720000e+08,1412000000,NaN,1412000000,1412000000
74,AAL,68568,USD,2019,Q1,2019-03-31,2019-04-26,459149500.0,460367750.0,4.472400e+10,...,-744000000.0,-936000000.0,1856000000,NaN,1856000000,-4.450000e+08,1411000000,NaN,1411000000,1411000000
75,AAN,441241,USD,2011,Q1,2011-03-31,2011-05-04,80866500.0,81839000.0,1.913734e+09,...,-2418000.0,-2418000.0,203143000,NaN,203143000,-7.735300e+07,125790000,NaN,125790000,125790000
76,AAN,441241,USD,2011,Q2,2011-06-30,2011-08-04,80418250.0,81486500.0,1.951435e+09,...,-38746000.0,-2246000.0,181441000,NaN,181441000,-6.928700e+07,112154000,NaN,112154000,112154000
77,AAN,441241,USD,2011,Q3,2011-09-30,2011-11-07,79434000.0,80647750.0,1.984016e+09,...,-39231000.0,-2731000.0,184448000,NaN,184448000,-7.042800e+07,114020000,NaN,114020000,114020000
78,AAN,441241,USD,2011,Q4,2011-12-31,2012-02-29,78101000.0,79339000.0,2.012578e+09,...,-40274000.0,-2991000.0,186909000,NaN,183377000,-6.961000e+07,113767000,NaN,113767000,113767000
79,AAN,441241,USD,2012,Q1,2012-03-31,2012-05-08,77071500.0,78323000.0,2.065909e+09,...,-4890000.0,-3107000.0,230019000,NaN,226487000,-8.588300e+07,140604000,NaN,140604000,140604000
80,AAN,441241,USD,2012,Q2,2012-06-30,2012-08-08,76131750.0,77343000.0,2.121828e+09,...,31512000.0,-3205000.0,270982000,NaN,267450000,-1.014010e+08,166049000,NaN,166049000,166049000
81,AAN,441241,USD,2012,Q3,2012-09-30,2012-11-07,75805500.0,76987500.0,2.166607e+09,...,32104000.0,-2613000.0,282328000,NaN,268402000,-1.014570e+08,166945000,NaN,166945000,166945000
82,AAN,441241,USD,2012,Q4,2012-12-31,2013-02-22,75820000.0,76826000.0,2.212827e+09,...,35326000.0,-2851000.0,287249000,NaN,276855000,-1.038120e+08,173043000,NaN,173043000,173043000
83,AAN,441241,USD,2013,Q1,2013-03-31,2013-05-03,75767250.0,76711500.0,2.219841e+09,...,-1632000.0,-2820000.0,253262000,NaN,242868000,-9.005100e+07,152817000,NaN,152817000,152817000
84,AAN,441241,USD,2013,Q2,2013-06-30,2013-08-02,75760750.0,76614000.0,2.231767e+09,...,-17172000.0,-2788000.0,239976000,NaN,224665000,-8.223800e+07,142427000,NaN,142427000,142427000
85,AAN,441241,USD,2013,Q3,2013-09-30,2013-11-01,75829000.0,76553500.0,2.239481e+09,...,-28717000.0,-2945000.0,212958000,NaN,208041000,-7.341700e+07,134624000,NaN,134624000,134624000
86,AAN,441241,USD,2013,Q4,2013-12-31,2014-02-24,75747000.0,76390000.0,2.234631e+09,...,-30498000.0,-2615000.0,189877000,NaN,184960000,-6.429400e+07,120666000,NaN,120666000,120666000
87,AAN,441241,USD,2014,Q1,2014-03-31,2014-05-09,74923750.0,75467500.0,2.227044e+09,...,-29434000.0,-2636000.0,171220000,NaN,164628000,-5.662300e+07,108005000,NaN,108005000,108005000
88,AAN,441241,USD,2014,Q2,2014-06-30,2014-08-08,74010000.0,74469750.0,2.338989e+09,...,-16379000.0,-6303000.0,159610000,NaN,137803000,-4.714700e+07,90656000,NaN,90656000,90656000
89,AAN,441241,USD,2014,Q3,2014-09-30,2014-11-05,73069750.0,73465750.0,2.500183e+09,...,-10124000.0,-11053000.0,160115000,NaN,121582000,-4.276900e+07,78813000,NaN,78813000,78813000
90,AAN,441241,USD,2014,Q4,2014-12-31,2015-03-02,72384000.0,72723000.0,2.695033e+09,...,-16939000.0,-16294000.0,160237000,-38533000.0,121704000,-4.347100e+07,78233000,NaN,78233000,78233000
91,AAN,441241,USD,2015,Q1,2015-03-31,2015-05-07,72396500.0,72715750.0,2.931424e+09,...,-22737000.0,-21044000.0,175682000,NaN,138824000,-4.968700e+07,89137000,NaN,89137000,89137000
92,AAN,441241,USD,2015,Q2,2015-06-30,2015-08-06,72478000.0,72807500.0,3.037983e+09,...,-22671000.0,-21469000.0,206342000,NaN,189616000,-6.843800e+07,121178000,NaN,121178000,121178000
93,AAN,441241,USD,2015,Q3,2015-09-30,2015-11-09,72539500.0,72911500.0,3.107259e+09,...,-23213000.0,-20982000.0,212973000,NaN,212973000,-7.689600e+07,136077000,NaN,136077000,136077000
94,AAN,441241,USD,2015,Q4,2015-12-31,2016-02-29,72568000.0,73043000.0,3.179756e+09,...,-22821000.0,-21154000.0,213120000,NaN,213120000,-7.741100e+07,135709000,NaN,135709000,135709000
95,AAN,441241,USD,2016,Q1,2016-03-31,2016-05-06,72597250.0,73133500.0,3.212369e+09,...,-22091000.0,-21515000.0,215018000,NaN,215018000,-7.886500e+07,136153000,NaN,136153000,136153000
96,AAN,441241,USD,2016,Q2,2016-06-30,2016-08-04,72644500.0,73212000.0,3.232673e+09,...,-25930000.0,-22082000.0,211788000,NaN,211788000,-7.768000e+07,134108000,NaN,134108000,134108000
97,AAN,441241,USD,2016,Q3,2016-09-30,2016-11-02,72650000.0,73242750.0,3.233961e+09,...,-25004000.0,-21918000.0,225172000,NaN,220514000,-8.113600e+07,139378000,NaN,139378000,139378000
98,AAN,441241,USD,2016,Q4,2016-12-31,2017-02-24,72354000.0,73013000.0,3.207716e+09,...,-24254000.0,-20691000.0,238640000,NaN,218422000,-7.913900e+07,139283000,NaN,139283000,139283000
99,AAN,441241,USD,2017,Q1,2017-03-31,2017-05-03,72025000.0,72805250.0,3.197843e+09,...,-21868000.0,-19641000.0,241862000,NaN,221317000,-7.842100e+07,142896000,NaN,142896000,142896000

In [32]:
#What is the average revenue of all the years past 2013?
queryAvgRev = """
select avg(Revenue) from tblSimFin
where FiscalYear > 2013
"""

resultAvgRev = pd.read_sql_query(queryAvgRev,conn)
print("The average revenue since 2014 has been: \n\n %s" % resultAvgRev)

The average revenue since 2014 has been:

    avg(Revenue)
0  7.209511e+09

In [33]:
#Which single day had the highest net income, and what was that date?
queryHighIncome = """
select ReportDate, max(NetIncome) from tblSimFin
"""

resultHighIncome = pd.read_sql_query(queryHighIncome, conn)
print("The highest daily income has been: \n\n %s" % resultHighIncome)

The highest daily income has been:

    ReportDate  max(NetIncome)
0  2018-09-30     61964000000

In [43]:
#Which quarter for what Ticker had the lowest revenue?
queryLowQuarterlyRev = """
select FiscalYear, FiscalPeriod, Ticker, min(Revenue) from tblSimFin
"""

resultLowQuarterlyRev = pd.read_sql_query(queryLowQuarterlyRev, conn)
print("The Lowest quarterly revenue was: \n\n %s" % resultLowQuarterlyRev)

The Lowest quarterly revenue was:

    FiscalYear FiscalPeriod Ticker  min(Revenue)
0        2015           Q4   AVXL           0.0